// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



//=------- all Colors

//theme colors
$theme-color: #3BB77E;
$theme-shade:#DEF9EC;

//secondary colors
$secondary-color:#51B9FC;
$secondary-shade:#1D7DE7;
$primary-color:#F3FCF8;



//text colors
$title-color:#1C2137;
$text-color:#747E8F;
$body-color:#fff;
$body-color2:#F7F7F7;

//background colors
$bg-color:#FFF9F9;
$bg-dark:#021738;
$ash-color:#F9F9F9;
$grey-color:#F1F1F1;
$border-color: #E6E7E8;

//common colors
$white-color: #fff;
$black-color:#000;
$btn-text:#5e6089;


// status color
$success-color:#3BB77E;
$danger-color:#FA634B;
$warning-color:#FFCC00;

//diffrent shadows
$shadow-sm: 0px 0px 10px 0px #5555551A;



//theme color gradients
$gradient-theme:linear-gradient(0deg, $theme-color 0%, $theme-shade 100%);
$gradient-themeX:linear-gradient(90deg, $theme-color 0%, $theme-shade 100%);
$gradient-theme--rev:linear-gradient(180deg, $theme-color 0%, $theme-shade 100%);

//secondary color gradients
$gradient-secondary:linear-gradient(0deg, $secondary-shade 0%, $secondary-color 100%);
$gradient-secondary--rev:linear-gradient(180deg, $secondary-shade 0%, $secondary-color 100%);

// social-media color
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$skype: #2fb7df;
$youtube: #cd201f;
$google: #dd4b39;
$camera: #e4405f;
$instagram: #e4405f;
$tumblr: #34465d;
$behance: #1769ff;
$dribble:#ea4c89;
$dribbble:#ea4c89;
$twitch:#6441a5;
$star: #e9ba17;
$green: #0be881;
$green-h: #0fbcf9;
$red: #f53b57;
$yellow: #dec32b;
$nell: #212fb4;
$navy: #d8e0f3;
$plaseholder: #a0a6bc;
$pinterest : #bd081c;
$basketball : #e94c89;
$globe : #ff5e9c;
$vimeo : #3b5998;

//== Typography


$title-font: 'Lato',
sans-serif;

$text-font: 'Lato',
sans-serif;

// font-size
$fs-base: 1rem !default;
$fs-small: 14px;
$fs-h1:48px;
$fs-h2:40px;
$fs-h3:30px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;


// Description line height
$lh-p: 1.5;



$transition:.2s all linear;

// * Container size 

$max-container:1170px;