.faq {
    @extend %rel,
    %hidden;


    &__content {
        >h2 {
            @extend %mb-40;
        }
    }

    &__nav {
        gap: 20px;

        .nav-link {
            background-color: $white-color;
            color: $title-color;
            border-radius: 2px;
            border: 1px solid rgba($theme-color, $alpha: .30);

            &.active {
                background-color: $theme-color;
                color: $white-color;
            }
        }
    }

}


//default accordion items style for this template (customizing bootstrap accordion)
.accordion {


    &-button {
        @include font-size(20px);
        padding: 20px;
        font-weight: 700;
        text-transform: capitalize;
        background-color: $ash-color;



        .accordion-headerText {
            width: calc(100% - 50px - 3ch);
        }

        &:not(.collapsed) {
            border-bottom: none;
            color: $theme-color;
            box-shadow: none;
            background-color: $ash-color;

            &:after {
                background-color: $theme-color;
                @include add-prefix(transform, rotate(90deg));
            }

            &:before {
                opacity: 0;
            }
        }

        &:focus {
            box-shadow: none;
        }

        //plus minus icon on accordion
        &:before,
        &:after {
            @include add-prefix(transition, $transition);
            @extend %abs;
            background-color: $theme-color;
            background-image: none;
        }

        &:after {
            height: 20px;
            width: 2px;
            right: 30px;
        }

        &:before {
            right: 20px;
            width: 20px;
            height: 2px;
        }
    }

    &-item {
        border: none;
        background-color: $ash-color;

        &:not(:last-child) {
            @extend %mb-20;
        }
    }

    &-body {
        padding-block-start: 0;
        padding-inline-end: 30px;
    }
}